// src/styles/index.scss

// 定义一个 SCSS 变量，用于保存 CSS 变量的前缀
$prefix: '--custom-';

// 默认（亮色）主题的 CSS 变量
:root {
  #{$prefix}background: #f0f2f5;
  #{$prefix}text-color: #333;
  #{$prefix}card-bg: #fff;
  #{$prefix}primary-color: #1677ff;
}

// 暗色主题的 CSS 变量
.dark-theme {
  #{$prefix}background: #001529;
  #{$prefix}text-color: rgba(255, 255, 255, 0.85);
  #{$prefix}card-bg: #1f1f1f;
  #{$prefix}primary-color: #1677ff; // 这里可以根据需要更改
}

// 基础样式
body {
  transition: background-color 0.3s ease;
  background-color: var(#{$prefix}background);
  color: var(#{$prefix}text-color);
}
