// styles.scss
.header-container {
  position: fixed;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  transition: left 0.2s;
  left: 250px;
  padding: 0 24px;
  background-color: var(--custom-header-bg);

  .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--custom-primary-color);
  }

  .option-btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;

    .ant-switch-checked {
      background-color: white;
    }

    .ant-switch-checked {
      background-color: var(--custom-primary-color);
    }

    .user-info {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      .ant-avatar {
        border: 2px solid var(--custom-primary-color);
      }
    }
  }
}

// 适配暗色主题
.dark-theme {
  .sider-header {
    border-bottom-color: #333;
  }

  .main-menu {
    .menu-item:hover {
      background-color: rgba(24, 144, 255, 0.2) !important;
    }
  }
}

// 页面切换过渡动画 --- 进入
.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

// 页面切换过渡动画 --- 进入（被激活）
.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 500ms,
    transform 500ms;
}

// 页面切换过渡动画 --- 离开
.page-exit {
  opacity: 1;
  transform: scale(1);
}

// 页面切换过渡动画 --- 离开（被激活）
.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 500ms,
    transform 500ms;
}

// 响应式调整
@media (max-width: 768px) {
  .header-container {
    left: 0;
  }
  
  .logo span {
    display: none;
  }
  
  .logo {
    padding-left: 12px;
  }
}

// 侧边栏折叠时的存储空间显示
.sider-header {
  .storage-card {
    margin: 16px;
    
    .ant-card-body {
      padding: 12px;
    }
  }
}